.Header {
	padding: 12px 0 11px;
	border-bottom: 1px solid transparent;
}

.Header_sticky {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;

	background: #ffffff;
	z-index: 999;
}

.Header_bordered {
	border-bottom: 1px solid #f0f2f3;
}

.Header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header nav {
	display: flex;
	align-self: flex-start;
}

@media (min-width: 480px) {
	.Header {
		padding: 10px 0 9px;
	}
}
