.App {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.App main {
	width: 100%;
	padding: 8px 0;
	box-sizing: border-box;
	flex-grow: 1;
}

.container {
	max-width: 824px;
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.hidden {
	display: none;
}
